
* {
    box-sizing: border-box;
}

body {
    background-color: #ffbebe;
    font-family: Arial, sans-serif; 
}

.container {
    margin: 30px 200px;
    padding: 1rem 2rem;
    text-align: center;
    background-color: #ffadad; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #ff7b00;
    margin-bottom: 10px;
    FONT-FAMILY: serif;
    FONT-SIZE: xxx-large;
}

.LABEL{
    FONT-SIZE: x-large;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


input[type="text"] {
    width: 80%; 
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    transition: border 0.3s; /* Smooth transition for border on focus */
}

/* Input Field Focus Effect */
input[type="text"]:focus {
    border: 2px solid #8378ff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Button Styles */
button {
    /* margin-bottom: 5px; */
    padding: 10px 20px; /* Increased padding for better touch target */
    color: white; /* White text for contrast */
    background-color: #8378ff; /* More appealing background color */
    border: none; /* Remove default button border */
    border-radius: 5px;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background */
}

/* Button Hover Effect */
button:hover {
    background-color: #6655ff; /* Darker shade on hover */
}

/* Results Section */
#results {
    margin-top: 10px; /* Added margin for spacing */
}

#results span {
    display: inline-block; /* Allow span to take width */
    /* margin: 15px 0; */
    background-color: #ef7d7d; /* Background color for results */
    padding: 10px 15px; /* Increased padding */
    border: 2px solid black;
    border-radius: 5px;
    color: #fff; /* White text for contrast */
    font-weight: bold; /* Bold text for emphasis */
    width: 280px;
}

/* Weight Guide Styles */
#weight-guide {
    text-align: left; /* Left align for better readability */
}

/* Responsive Styles */
@media (max-width: 800px) {
    input[type="text"] {
        width: 100%; /* Full width on smaller screens */
    }

    h1 {
        FONT-SIZE: xx-large;
    }
    
    button {
        width: 340px; /* Full width for buttons on smaller screens */
    }

    .container {
        padding: 1rem; /* Reduced padding for smaller screens */
        margin: 20px 50px;
    }

    #results span {
        width: 345px;
    }
}

@media (max-width: 480px) {
    #weight-guide h2 {
        font-size: 1.2rem; /* Slightly smaller heading on very small screens */
    }
    button {
        width: 100%; /* Full width for buttons on smaller screens */
    }
    #results span {
        width: 100%;
    }
}
